body { background-image: url("../images/bg.jpg");
 background-color: #ffffff;
}
p {
	font-family: Arial, Helvetica, sans-serif;
}
td {
	font-family: Arial, Helvetica, sans-serif;
}
li {
	align:left;
}